<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        class="slide-bg-image"
        src="https://image.tmdb.org/t/p/original/nmGWzTLMXy9x7mKd8NKPLmHtWGa.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="slide-pane">
    <h2 class="name">Minions: The Rise of Gru</h2>
    <div class="meta">
      <div class="info">
        <span class="rating">
          <span>star</span><span class="rating-value">7.5</span><span>/10</span>
        </span>
        <span>463 Reviews</span>
        <span>2021</span>
      </div>
    </div>
    <div class="desc mt-6">
      A fanboy of a supervillain supergroup known as the Vicious 6, Gru hatches a plan to become
      evil enough to join them, with the backup of his followers, the Minions.
    </div>
  </div>
</div>
